@model Search_Work.Arrea.Candidate.Models.Resume.AddResumeForeignLanguageViewModel


@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="container">

    <div style="float: left; width: 49%">
        <h3><b>Pезюме - @Model.Resume.Name</b></h3>

    </div>
    <div style="float: left; width: 49%">
        <h3><b>Знание іноземних мов</b></h3>

    </div>

</div>

<hr />
<div id="container">
    <form method="post" asp-action="AddForeignLanguage" asp-controller="EditResume" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" name="ResumeId" value="@Model.Resume.Id" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <div>
            <div style="float: left; width: 49%">
                <input type="text" name="Name" value="@Model.Name" />

            </div>
            <div style="float: left; width: 49%">
                @Html.DropDownList("LevelLanguageId", Model.LevelLanguage)

            </div>
        </div>

        <hr />
        <hr />
        <button type="submit">Зберегти</button>
    </form>
</div>