
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Search_Work</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body id="bg-image">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="color:aquamarine">
                    S_W
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var user = UserManager.GetUserName(User);

                        string userRoles = "";
                        if (User.Identity.IsAuthenticated)
                        {


                            if (User.IsInRole("Admin"))
                            {
                                userRoles = "Admin";
                            }
                            else if (User.IsInRole("Employer"))
                            {
                                userRoles = "Employer";
                            }
                            else if (User.IsInRole("Candidate"))
                            {
                                userRoles = "Candidate";
                            }
                            var r = User.IsInRole("Admin");
                        }
                        if (userRoles != "" || user != null)
                        {
                            var i = ViewBag.User;
                            var r = User.Identity.Name;



                            <li><a asp-controller="Home" asp-action="About">Кабінет</a></li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                        }
                        @*else
                            {
                                <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>*@

                        @*<li><a asp-action="UserList" asp-controller="Roles">USER </a></li>
                            <li><a asp-action="Index" asp-controller="ResumeHome">Каталог резюме </a></li>
                            <li><a asp-action="Vacansies" asp-controller="Vacancy">Каталог вакансій </a></li>
                            <li><a asp-action="CompaniesByFieldActivity" asp-controller="CompanyHome">Компанії </a></li>*@

                        @*}
                            if (userRoles == "Admin")
                            {
                                <li><a asp-controller="Home" asp-action="About">Кабінет</a></li>
                                <li><a asp-action="UserList" asp-controller="Roles">USER </a></li>

                            }
                            else if (userRoles == "Employer")
                            {

                                <li><a asp-controller="Home" asp-action="About">Кабінет</a></li>
                                <li><a asp-action="ProfileCompany" asp-controller="Company">Компанія</a></li>
                                <li><a asp-action="EmploeeVacancies" asp-controller="Vacancy">Вакансії</a></li>
                                <li><a asp-action="SavedResume" asp-controller="Company">Збережені резюме</a></li>

                            }
                            else if (userRoles == "Candidate")
                            {
                                <li><a asp-controller="Home" asp-action="About">Кабінет</a></li>
                                <li><a asp-action="Index" asp-controller="Resume">Резюме </a></li>
                                <li><a asp-action="RecommendedVacancy" asp-controller="Vacancy">Рекомендовані вакансії </a></li>


                            }*@

                    }



                    <li><a asp-action="UserList" asp-controller="Roles">USER </a></li>
                    <li><a style="color:aquamarine" asp-action="Index" asp-controller="ResumeHome"><b>Каталог резюме</b> </a></li>
                    <li><a style="color:aquamarine" asp-action="Vacansies" asp-controller="Vacancy"><b>Каталог вакансій </b></a></li>
                    <li><a style="color:aquamarine" asp-action="CompaniesByFieldActivity" asp-controller="CompanyHome"><b>Компанії</b> </a></li>


                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="navbar-collapse collapse">

    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="container">
            <p>&copy;<b> 2018 - Search_Work</b></p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>


</html>
<style>
    .navbar-inverse {
        background-color: #073b40e6;
        border-color: #106169;
    }

    #bg-image {
        background-image: url('/images/bgd2.jpg');
        background-size: cover;
    }

    #container {
        background-color: #dff0d8e6;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        text-align: center;
    }
</style>
