@model Search_Work.Arrea.Candidate.Models.ResponseToResumeViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="topMenuNavigation">
    <div class="cont">

        <a id="zcilkaTopMenuNavigation" href="@Url.Action("PaternSearchVacancy", "Vacancy")"><b> Шаблони пошуку</b></a>
        <a id="zcilkaTopMenuNavigation" href="@Url.Action("ResponsesToResume", "Vacancy")"><b> Відгуки</b></a>
        <a id="zcilkaTopMenuNavigation" href="@Url.Action("SavedVacancy", "Vacancy")"><b> Збережені вакансії</b></a>
    </div>
</div>


<hr id="lineMenu" />
<div class="row" id="container">

    <h4><b>Відгуки на відправлене резюме </b></h4>


</div>
<hr />

<div class="row" id="container">
    @foreach (var vac in Model.Vacannies)
    {
        <div class="row" id="container">
            <h4><b> Компанія -  <span style="color: darkblue">@vac.CompanyName</span>, посада - <span style="color: darkblue"> @vac.VacancyName</span></b></h4>
            <hr />

            <table class="table">
                <thead>
                    <tr>

                        <th>
                            <h5><b>Дата відправлення</b></h5>
                        </th>
                        <th>
                            <h5><b>Статус</b></h5>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var resp in vac.ResumeRespList)
                    {
                        <tr>
                            <td>
                                <h5>@resp.DataSend</h5>
                            </td>
                            <td>
                                @if (@resp.Status == "Переглянуто")
                                {
                                    <h4 style="color:blue"><b>@resp.Status</b></h4>
                                }
                                else if (@resp.Status == "Відмовлено")
                                {
                                    <h4 style="color:firebrick"><b>@resp.Status</b></h4>
                                }

                            </td>


                        </tr>
                    }
                </tbody>
            </table>


        </div>
    }
</div>



<style>
    #lineMenu {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #073b40e6;
        margin: 1em 0;
        padding: 2px;
    }

    .topMenuNavigation {
        margin-left: 150px;
        padding: 5px;
    }

    #zcilkaTopMenuNavigation {
    }

    .cont {
        display: flex;
        flex-direction: row;
    }

    #zcilkaTopMenuNavigation {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        color: darkblue;
        padding-left: 100px;
        font-size: 20px;
    }

    th {
        text-align: center;
        padding: 20px;
    }

    img {
        width: 5%;
    }

    &:hover {
        background-color: rgba(115,220, 224, 1);
    }
</style>


