
@using Search_Work.Models.Helper
@*@using Search_Work.Models.ActionForCandidat*@
@model Search_Work.Arrea.Candidate.Models.CandidateResumesViewModel

@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="topMenuNavigation">
    <div class="cont">

        <a id="zcilkaTopMenuNavigation" href="@Url.Action("PaternSearchVacancy", "Vacancy")"><b> Шаблони пошуку</b></a>
        <a id="zcilkaTopMenuNavigation" href="@Url.Action("ResponsesToResume", "Vacancy")"><b> Відгуки</b></a>
        <a id="zcilkaTopMenuNavigation" href="@Url.Action("SavedVacancy", "Vacancy")"><b> Збережені вакансії</b></a>
    </div>
</div>


<hr id="lineMenu" />
<div class="row" id="container">
    <span style="float: left; width: 49%">
        <h3><b>Мої резюме </b></h3>
    </span>
    <span style="float: left; width: 49%">
        
        <button type="button" onclick="location.href='@Url.Action("AddResume", "ResumeCreate" , new {})'"> Нове резюме </button>
        @*<button type="button" onclick="location.href='@Url.Action("Create", "Resume" , new {})'"> Нове резюме </button>*@
    </span>

</div>
<hr />
<div class="row" id="container">
 
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4><b>Назва </b></h4>
                </th>
                <th>
                    <h4><b>Дата змін</b></h4>
                </th>
               
                <th>
                    <h4><b>Показів</b></h4>
                </th>
                <th>
                    <h4><b>Переглядів</b></h4>
                </th>
                <th>
                    <h4><b>Статус</b></h4>
                </th>
                <th>
                   
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.Resumes)
            {
            <tr>
                <td>
                    <a  href="@Url.Action( @*"EditResume"*@ "Edit", "Resume", new { resumeId = res.Id })">
                        <b>@res.NameResum</b>
                    </a>
                    <p>@res.Wage грн, @res.City</p>
                </td>
                <td>

                    @if (res.DateChange == DateTime.MinValue)
                    {
                        <p> - </p>
                    }
                    else
                    {
                        <p> @res.DateChange.ToString("dd/MM/yyyy")</p>
                    }
                    
                </td>
               <td>
                    @res.CountShow
                </td>
                <td>
                    <a href="@Url.Action("ViewsResume", "Resume", new { resumeId = res.Id })"> <span>(@res.CountView )  </span></a>
                </td>
                <td>
                    @if(res.Status == true)
                    {
                      <h4 id="Activ"><b>Активне</b></h4>
                    }
                    else
                    {

                    <h4 id="Activ"><b>Не активне</b></h4>
                    }
                </td>
                <td>
                    <a href="@Url.Action( "Edit", "Resume", new { resumeId = res.Id })"> Редагувати
                    </a>
                    <hr />
                    <a href="@Url.Action( "DeleteResume", "EditResume", new { resumeId = Model.UserId })">
                        Видалити
                    </a>
                  
                   
                </td>
               
            </tr>
            }
        </tbody>
    </table>
    
</div>

<div class="row" id="container">
    @Html.Partial("~/Views/Shared/Elements/CataloguePagination/_cataloguePagination.cshtml", @Model.Pagination)
</div>

<style>
    #Activ {

        color: blue;
    
    }
    #lineMenu {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #073b40e6;
        margin: 1em 0;
        padding: 2px;
    }

    th {
        text-align: center;
        padding:20px;
    }
    .topMenuNavigation {
        
    }
    #zcilkaTopMenuNavigation {
        padding-left: 150px;
        font-size: 20px;
    }
    .cont {
        display: flex;
        flex-direction: row;
    }

    a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        color:darkblue;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 16px;
    }

    &:hover {
        background-color: rgba(115,220, 224, 1);
    }
</style>